{% extends 'base.html' %}
{% load thumbnail %}
{% load cart_tags %}
{% block content %}
    <div id="page-title" class="image-bg">
        <div class="container text-center">
            <div class="title-content">
                <h1>Бронирование</h1>
                <p> Бронирование велосипедов , роликов</p>
            </div>
        </div>
    </div>
    <div id="about-us" class="padding">
        <div class="container">
            <div class="row">
            {% include 'booking/steps_area.html' %}
                <div class="col-md-9">
                    <h1>Комплекты</h1>
                    <div id="complects-area">

                    <div class="complects-board-btn panel panel-default" style="display: none;">
                        <div class="panel-heading active" role="tab">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse1"><span class="fa fa-minus-circle"></span></a>
                                    </h4>
                                <i class="product-remove" style="float: right;margin-top: -20px; cursor: pointer;">Удалить</i>
                                </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="">Имя</label>
                                                <input type="text" class="form-control" name="userName">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Пол</label>
                                                <input type="text" class="form-control" name="weight">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Вес</label>
                                                <input type="text" class="form-control" name="weight">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Рост</label>
                                                <input type="text" class="form-control" name="height">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>

                    </div>
                    <h2>Я хочу</h2>

                        {% for c in categories %}
                            <button type="button" class="btn btn-warning btn-lg">{{ c }}</button>
                        {% endfor %}

                    <hr>
                    <div class="row">
                    {% for p in products %}
                        <div class="col-sm-4">
							<div class="entry-content">
								<a class="entry-thumb" href="#">
                                    <img class="img-responsive" src="https://themeregion.com/demo/arki/default-images/blog/1.jpg" alt="">
                                </a>
                            <h5>{{ p }}</h5>
                            <a class="add-product" data-id="{{ p.pk }}">Добавить</a>


							</div>
						</div>
                        {% endfor %}
                    </div>

                    <div style="text-align: center; margin-top: 20px;">
                    <a class="btn btn-lg btn-success" href="{% url 'booking:booking-payment' %}">К третьему шагу</a>
                    </div>
                </div>
                <div class="col-md-3">
                    {% cart_total %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_block %}

    <script type="text/javascript">
        $(function () {
            $(".add-product").on('click', function(){
                var complectsBoardFirst = $('.complects-board-btn:first');
                var complectBlock = complectsBoardFirst.clone();
                complectBlock.css('display','block');
                complectBlock.appendTo("#complects-area");
                var productName = $(this).prev().html();
                complectBlock.find('.panel-title a').html(productName);

            });

            $("body").on('click','.product-remove', function(){

                $(this).parent().parent().remove();
            });
        });
    </script>
{% endblock %}
