{% extends 'base.html' %}
{% load thumbnail %}
{% load cart_tags  %}
{% block content %}
    <div id="page-title" class="image-bg">
    <div class="container text-center">
        <div class="title-content">
            <h1>Бронирование</h1>
            <p> Бронирование велосипедов , роликов</p>
        </div>
    </div>
</div>
    <div id="about-us" class="padding">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h1>Комплекты</h1>
                        Я хочу
                    <ul>
                    {% for c in categories %}
                        <li>{{ c }}</li>
                    {% endfor %}
                    </ul>

                    {% for p in products %}
                        <div class="col-sm-4">
                          <img src="">
                          <h5>{{ p }}</h5>
                        </div>

                    {% endfor %}
                    <a class="btn btn-lg btn-success" href="{% url 'booking:booking-payment' %}">К третьему шагу</a>

                </div>
                <div class="col-md-3">
                    {% cart_total %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

