
header,nav,section,article,aside,footer,figure,menu,dialog {
  display: block;
}
input:focus::-webkit-input-placeholder {
  color:transparent ;
}
input:focus:-ms-input-placeholder {
  color:transparent ;
}
input:focus::-moz-placeholder {
  color:transparent ;
}
textarea:focus::-webkit-input-placeholder {
  color:transparent  ;
}
textarea:focus:-ms-input-placeholder {
  color:transparent ;
}
textarea:focus::-moz-placeholder {
  color:transparent ;
}
input::-webkit-input-placeholder{
  color:#b9b9b9;
  opacity: 1;
}
input:-moz-placeholder{
  color:#b9b9b9;
  opacity: 1;
}
input::-moz-placeholder{
  color:#b9b9b9;
  opacity: 1;
}
textarea::-webkit-input-placeholder{
  color:#b9b9b9;
  opacity: 1;
}
textarea:-moz-placeholder{
  color:#b9b9b9;
  opacity: 1;
}
textarea::-moz-placeholder{
  color:#b9b9b9;
  opacity: 1;
}
#wrapper{
  overflow: hidden;
  min-height: 100%;
  position: relative;
  width: 100%;
  display: table;
  height: 100%;
}
.conteiner{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.conteiner:after{
  content: '';
  display: block;
  clear: both;
}
.row{
  margin-left: -10px;
  margin-right: -10px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  padding-left: 10px;
  padding-right: 10px;
}
.btn{
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  color:#fff;
  line-height: 20px;
  border:2px solid #5bbf53;
  background-color: #5bbf53;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 13px 10px;
  min-width: 275px;
  -webkit-transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
  transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
}
.btn:focus,
.btn:hover{
  color:#fff;
  background-color: #57b44f;
  border-color: #57b44f;
}
.btn--outline{
  color:#4798cc;
  background-color:transparent;
  border-color: #4798cc;
}
.btn--outline:focus,
.btn--outline:hover{
  color:#fff;
  background-color:#4798cc;
  border-color: #4798cc;
}
input[type=checkbox], input[type=radio]{
  margin-top: 2px;
}
.form-group .checkbox{
  margin-top: 0;
  color: #6e6e6e;
  font-size: 14px;
}
.wrapper-row{
  display: table-row;
}
.wrapper-row--footer{
  height: 101px;
}
#header{
  background-color: #fff;
  border-bottom:1px solid #ececec;
  position: relative;
  z-index: 50; 
}
.header-wrap{
  display: table;
  width: 100%;
  height: 100px;
}
.header-wrap__logo{
  display: table-cell;
  vertical-align: middle;
  padding: 15px 0;
}
.logo{
  color: #000 ;
  text-decoration: none ;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  display: inline-block;
  vertical-align: middle;
}
.header-wrap__holder{
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  padding: 22px 0 15px;
}
.header-wrap__holder .tel{
  font-size: 22px;
  line-height: 25px;
  font-weight: 500;
  color: #000;
  display: inline-block;
  vertical-align: top;
}
.header-wrap__user-panel{
  display: inline-block;
  margin-left: 5.5%;
  font-size: 14px;
  line-height: 17px;
  vertical-align: top;
  color: #6e6e6e;
}
.header-wrap__user-panel a{
  color: #6e6e6e;
}
.header-wrap__user-panel img{
  vertical-align: middle;
  margin: -2px 0px 0 0;
}
.header-wrap__user-panel__wrap{
  display: table;
}
.header-wrap__user-panel__row{
  overflow: hidden;
  display: table-row;
}
.header-wrap__user-panel__row .col{
  display: table-cell;
  text-align: left;
  padding: 4px 0;
}
.header-wrap__user-panel__row .holder{
  display: table-cell;
  text-align: right;
  padding: 4px 10px 4px 0;
  color: #c8c8c8;
}
.header__back-btn{
  float: right;
  background: url(../images/icon-back.png) no-repeat 0% 0%;
  width: 18px;
  height: 24px;
  margin-left: 20px;
  -webkit-transition: opacity 0.2s linear;  
  transition: opacity 0.2s linear;
  opacity: 0.4;
}
.header__back-btn:hover{
  opacity: 1;
}
#main{
  padding: 50px 0;
}
.main__widget{
  background-color: #fff;
  padding: 46px 80px 60px;
  margin-top: -50px;
}
.main__widget hr{
  margin-top: 24px;
  margin-bottom: 24px;
}
.main__widget .checkbox-wrap{
  margin: 38px 0;
}
.scroll-box{
  height: 487px;
  height: 34vh;
  overflow: auto;
  padding-right:48px;
  width: 100% ;
  padding: 0 48px 0 0;
  margin: 36px 0;
}
.main__widget .scroll-box{
  margin: 36px 0;
}
.main__widget .enscroll-track{
  margin-top: 36px;
}
.vertical-handle{
  width: 4px;
  margin-left: -1px;
  background-color: #4798cc;
}
.vertical-track{
  width: 2px;
  background-color: #ececec;
  margin: 0;
}
.main__widget h1{
  font-size: 42px;
  line-height: 42px;
  margin: 0;
  color: #000;
  font-weight: 300;
}
.main__widget h2{
  color: #000;
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
  margin:23px 0 21px; 
}
.main__widget h2:first-child{
  margin-top: 0;
}
.checkbox{
  cursor: pointer;
}
.main__widget .checkbox{
  font-weight: 500;
  margin: 0;
  color: #000;
  font-size: 16px;
  line-height: 25px;
}
#footer{
  border-top: 1px solid #ececec;
}
.footer-wrap{
  height: 100px;
  display: table;
  width: 100%;
  color: #c8c8c8;
  font-size: 14px;
  line-height: 25px;
}
.footer-wrap__logo{
  color: #c8c8c8;
  display: table-cell;
    vertical-align: middle;
    padding: 15px 12px 15px 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
}
.footer-wrap__holder{
  display: table-cell;
    vertical-align: middle;
    padding: 30px 0 15px;
    text-align: center;
}
.footer-wrap__holder.text-left{
  padding-top: 15px;
  text-align: left;
}
.footer-wrap__network{
  display: table-cell;
    vertical-align: middle;
    padding: 28px 0 15px;
    text-align: right;
}
.footer-wrap__holder__nav{
  display: table;
  width: 100%;
}
.footer-wrap__holder__nav .col{
  display: table-cell;
    vertical-align: middle;
}
.footer-wrap__holder__nav a{
  color:#c8c8c8;
}
.footer-wrap__network a{
  border:2px solid #000;
  opacity: 0.2;
  text-decoration: none ;
  transition: opacity 0.2s linear;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 31px;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 8px;
}
.footer-wrap__network img{
  vertical-align: middle;
}
.footer-wrap__network a:hover{
  opacity: 1;
}
.row-tab{
  position: relative;
  margin: 20px 0 30px;
  padding: 0;
  list-style: none;
}
.row-tab li{
  position: relative;
  padding: 0;
}
.row-tab li:after{
  content:"";
  bottom: -5px;
  left: 50%;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  margin-left: -5px;
  border-width: 6px 8px 0;
  border-top-color: #4798cc;
  display: block;
  color:transparent;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  z-index: 2;
}
.row-tab a{
  display: block;
  text-decoration: none ;
  color: #6e6e6e;
  -webkit-transition: color 0.2s linear,background 0.2s linear,border 0.2s linear;
  transition: color 0.2s linear,background 0.2s linear,border 0.2s linear;
  background-color: transparent;
  font-size: 14px;
  line-height: 25px;
  padding:6px 0;
  text-align: center;
  border:1px solid #dfdfdf;
  border-left-width: 0;
  font-weight: 500;
}
.row-tab li:first-child a{
  border-left-width: 1px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.row-tab li:last-child a{
  -webkit-border-radius:0 4px 4px 0;
  border-radius:0 4px 4px 0;
}
.row-tab .active a,
.row-tab a:hover{
  color: #fff;
  background-color: #4798cc;
  border-color: #4798cc;
}
.row-tab .active:after{
  opacity: 1;
}
.tab-content--reg .tab-pane>.row{
  margin: 0;
}
.tab-content--reg .tab-pane>.row>div{
  padding-left: 0;
  padding-right: 0;
}
.form-group .row+hr{
  margin-top: 0;
}
.form-group h3{
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  color: #000;
}
.form-group [class*="col-"]{
  margin-bottom: 20px;
}
.form-group [class*="col-"] .btn{
  min-width: 10px;
  width: 100%;
}
.bootstrap-select .btn,
.form-control{
  height: 50px;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 20px;
  font-weight: 500;
  border-color: #dfdfdf;
  background-color: #fff;
  border-width: 1px;
  box-shadow: none;
}
.bootstrap-select .btn{
  padding-right: 40px;
}
.bootstrap-select .dropdown-toggle .caret,
.bootstrap-select.btn-group .dropdown-toggle .caret{
  border:0;
  background: url(../images/select-arrow.png) no-repeat 50% 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  right: 20px;
}
textarea.form-control{
  height: auto;
}
.form-control-label{
  position: relative;
  margin: 0;
  display: block;
  cursor: pointer;
}
.form-control-label .form-control{
  padding-bottom: 8px;
  padding-top:8px;
  line-height: 32px;
}
.form-control-label .control-label{
  font-size: 12px;
  color: #b9b9b9;
  font-weight: 300;
  line-height: 12px;
  position: absolute;
  top: 9px;
  left: 20px;
  pointer-events: none;
  display: none;
  z-index: 5;
  opacity: 1;
}
.form-control-label.focus-label .form-control,
.form-control-label .form-control:focus{
  padding-bottom: 0;
  padding-top:0px;
}
.form-control-label.focus-label .control-label,
.form-control-label .form-control:focus+.control-label{
  display: block;
}
.bootstrap-select.btn-group .dropdown-menu{
  border-color: #dfdfdf;
}
.bootstrap-select{
  display: block;
}
.dropdown-toggle.btn-default:focus,
.bootstrap-select.open>.dropdown-toggle.btn-default:focus, 
.bootstrap-select.open>.dropdown-toggle.btn-default:hover{
  background-color:#fff;
  box-shadow: none;
  border-color: #dfdfdf;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:active, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover{
  color:#999;
  background-color:#fff;
  box-shadow: none;
  border-color: #dfdfdf;
}
.form-control-label.focus-label .bootstrap-select.form-control, 
.form-control-label .bootstrap-select.form-control:focus{
  padding: 0;
}
.dropdown-toggle.btn-default:focus,
.bootstrap-select.open>.dropdown-toggle.btn-default:active,
.open>.dropdown-toggle.btn-default:active,
.bootstrap-select.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:focus{
  border-color: #66afe9;
    outline: 0 ;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.form-control-label .bootstrap-select>.dropdown-toggle{
  line-height: 32px;
  padding-bottom: 0;
    padding-top: 16px;
}
.form-control-label .bootstrap-select>.dropdown-toggle.bs-placeholder{
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 6;
}
.form-control-note{
  position: absolute;
  left: 100%;
  font-size: 14px;
  line-height: 25px;
  color: #b9b9b9;
  font-weight: 300;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.opener-nav{
  display: none;
}
#nav{
  position: absolute;
  border-top: 1px solid #ececec;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 120;
}
#nav~.conteiner{
  padding-bottom:48px;
}
.header__nav{
  list-style: none; 
  margin: 0;
  padding:0;
  display: table;
  width: 100%;
  table-layout: fixed;
  text-align: center;
}
.header__nav li{
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.header__nav a{
  text-decoration: none ;
  color: #6e6e6e;
  padding: 11px 0 12px;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
}
.header__nav li:after{
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height:2px;
  background-color: #000;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;  
  transition: opacity 0.2s linear;
}
.header__nav li:hover:after,
.header__nav li.active:after{
  opacity: 1;
}
.header__nav__drop{
  position: absolute;
  top: 100%;
  left: -9999px;
  width: 100%;
  margin: 1px 0 0;
  background-color: #fff;
  z-index: 50;
  border-radius:0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 5px 0;
    -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 0;
}
.header__nav li:hover .header__nav__drop{
  opacity: 1;
  left: 0;
}
.header__nav__drop a{
  -webkit-transition: background 0.2s linear,color 0.2s linear;  
  transition: background 0.2s linear,color 0.2s linear;
  display: block;
  padding: 10px 5px;
  line-height: 16px;
}
.header__nav__drop a:hover,
.header__nav__drop .active a{
  background-color: #4798cd;
  color:#fff;
}
.drop-arrow{
  position: absolute;
  left: 50%;
  bottom: 3px;
  width: 16px;
  height: 9px;
  cursor: pointer;
  z-index: 20;
  margin: 0 0 0 -8px;
  display: none;
  background: url(../images/select-arrow.png) no-repeat 0% 0%;
}
.status-item{
  display: table;
  width: 100%;
  background-color: #fff;
  border:1px solid #dfdfdf;
  border-radius: 4px;
  text-align: center;
  margin: 15px 0 20px;
}
.status-item .status-holder{
  display: table-cell;
  vertical-align: middle;
  padding: 10px 5px 5px;
  height: 118px;
}
.status-item .status{
  color:#5bbf53;
  font-size: 32px;
  line-height: 32px;
  margin: 0 0 12px;
  font-weight: 500;
}
.status-item .title{
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
.table{
  width: 100%;
  font-size: 14px;
  border-radius:4px;
  border-width:0;
  border-top-width:1px;
  border-collapse: separate;
}
.table--layout-fixed{
  table-layout: fixed;
}
.table th{
  color: #000;
  font-weight: 500 ;
}
.table.text-center th{
  text-align: center;
}
.table.table-bordered td,
.table.table-bordered th{
  border-width:0 1px 1px 0;
  padding: 9px 9px 10px;
}
.table tr th:first-child,
.table tr td:first-child{
  border-left-width:1px;
}
.table tr:first-child td:first-child,
.table tr:first-child th:first-child{
  border-radius: 4px 0 0 0;
}
.table tr:first-child td:last-child,
.table tr:first-child th:last-child{
  border-radius:0 4px 0 0;
}
.table tr:last-child td:first-child,
.table tr:last-child th:first-child{
  border-radius: 0 0 0 4px;
}
.table tr:last-child td:last-child,
.table tr:last-child th:last-child{
  border-radius:0 0 4px 0;
}
.table-md .title{
  display: none;
}
.table .active{
  background-color: #fff ;
}

.row--profile{
  margin-left: -20px;
  margin-right: -20px;
}
.row--profile>[class*="col-"]{
  padding-left: 20px;
  padding-right: 20px;
}
.form-message{
  padding: 0 0 0 30px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}
.form-message:after{
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 2px;
  background: url(../images/icon-message.png) no-repeat 0% 0%;
}
.form-message p{
  margin: 0;
}
.modal .close{
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/icon-close.png) no-repeat 50% 50%;
  width: 34px;
  height: 34px;
  z-index: 10;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;  
  transition: opacity 0.2s linear;
}
.modal .close:hover{
  opacity: 0.8;
}
.modal .form-group{
  margin-bottom: 0;
}
.modal .description a,
.modal .form-group a{
  font-size: 12px;
}
.modal .form-group .row:last-child [class*="col-"]{
  margin-bottom: 0;
}
.modal--login .modal-dialog{
  width: 370px;
  font-size: 14px;
  line-height: 20px;
}
.modal-content{
  border-color:transparent;
}
.modal--login .modal-body{
  padding-left: 40px;
  padding-right: 40px;
  padding: 29px 40px;
}
.note--col{
  padding-top: 5px;
}
.modal .description{
  margin: 16px 0;
}
.modal--login h3+.description{
  margin-top: -7px;
}
.row--num-col{
  margin-left: -5px;
  margin-right: -5px;
}
.row--num-col .col{
  width: 25%;
  padding: 0 5px 20px;
  float: left;
}
.row--num-col input:focus,
.row--num-col input{
  text-align: center;
    padding: 8px 0 ;
    line-height: 32px ;
    font-size: 20px ;
}
@media screen and (max-width: 991px){
  body{
    font-size: 14px;
  }
  .wrapper-row,
  #wrapper{
    height: auto;
    display: block;
  }
  #main{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main__widget{
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
  }
  .main__widget .scroll-box{
    margin: 0;
  }
  .main__widget hr{
    margin: 20px 0;
  }
  .main__widget .enscroll-track{
    margin-top: 0;
  }
  .header-wrap{
    height: 63px;
  }
  .main__widget .checkbox-wrap{
    margin: 20px 0;
  }
  .footer-wrap{
    display: block;
    height: auto;
  }
  .footer-wrap__network,
  .footer-wrap__holder,
  .footer-wrap__logo{
    display: block;
    text-align: center;
    padding: 0;
    margin: 20px 0;
    overflow: hidden;
  }
  .footer-wrap__holder .col{
    display: block;
  }
  .scroll-box{
    padding-right:20px;
  }
  .main__widget .checkbox{
    font-size: 14px;
    line-height: 20px;
  }
  .form-control-note{
    position: static;
    margin: 5px 0 0;
    padding: 0 ;
  }
  .row-tab{
    margin-bottom: 10px;
  }
  .row-tab li{
    margin-bottom: 10px;
  }
  .row-tab li a,
  .row-tab li:last-child a,
  .row-tab li:first-child a{
    border-width: 1px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
  }
  .btn{
    width: 100%;
    display: block;
  }
  .footer-wrap__holder.text-left{
    text-align: center;
    padding-top: 0;
  }
  .opener-nav{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
  }
  .opener-nav span{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    margin: -1px 0 0;
    background-color: #000;
    -webkit-transition: all 0.3s linear;  
    transition: all 0.3s linear;
  }
  .openNav .opener-nav span{
    background-color: transparent;
  }
  .opener-nav span:after,
  .opener-nav span:before{
    content: '';
    height: 2px;
    background-color: #000;
    top: -10px;
    left: 0;
    width: 100%;
    position: absolute;
    -webkit-transition: all 0.3s linear;  
    transition: all 0.3s linear;
  }
  .opener-nav span:after{
    top: 10px;
  }
  .openNav .opener-nav span:after{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
  }
  .openNav .opener-nav span:before{
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
  }
  #nav{
    position: fixed;
    border-top: 0;
    border-bottom: 1px solid #ececec;
    bottom: auto;
    top: 0;
    background-color: #fff;
  }
  #nav~.conteiner{
    padding-bottom:0;
    padding-top: 34px;
  }
  .header__nav{
    background-color: #fff;
    position: fixed;
    border-top: 1px solid #ececec;
    top: 40px;
    left: -280px;
    width: 280px;
    overflow: auto;
    bottom: 0;
    display: block;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear,left 0.2s linear;  
    transition: opacity 0.2s linear,left 0.2s linear;
  }
  .openNav .header__nav{
    left: 0;
    opacity: 1;
  }
  .header__nav li{
    display: block;
  }
  .header__nav a{
    text-align: left;
    padding-left: 20px;
    padding-right: 40px;
  }
  .header__nav__drop{
    position: relative;
    left: 0;
    opacity: 1;
    padding: 0;
    margin: 0 0 8px;
    -webkit-box-shadow:none;
      box-shadow: none;
      display: none;
      -webkit-border-radius:0;
      border-radius:0;
  }
  .header__nav__drop a{
    padding-left: 40px;
    padding-right: 20px;
  }
  .drop-arrow{
    display: block;
    bottom: auto;
    top: 4px;
    left: auto;
    right: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    background-position: 50% 50%;
  }
  .header__nav li:after{
    bottom: 0;
  }
  .status-item{
    margin:0 0 10px;
  }
  .table-md .title{
    display: block;
    float: left;
    font-weight: 500;
    color: #000;
  }
  .table-md .holder{
    display: block;
    overflow: hidden;
    text-align: right;
  }
  .table-md th{
    display: none;
  }
  .table-md td{
    padding: 0;
    display: block;
    overflow: hidden;
    border-width: 0 0 1px ;
  }
  .table-md tr:last-child td:last-child{
    border-width: 0 ;
  }
  .table-md tr{
    display: block;
  }
  .table-md{
    display: block;
    border-width: 1px;
  }
  .table-md tbody{
    display: block;
  }
  .table tr:last-child td:last-child,
  .table tr:last-child th:last-child{
    border-radius:0 0 4px 4px;
  }
  .header-wrap{
    position: relative;
  }
}
@media screen and (max-width: 767px){
  .modal--login .modal-body{
    padding: 20px;
  }
  .modal--login .modal-dialog{
    width: auto;
  }
  .bootstrap-select .btn, 
  .form-control{
    font-size: 14px;
  }
  .form-control-label .control-label{
    font-size: 11px;
  }
  h1,h2,h3{
    margin-bottom: 20px;
  }
  h1,
  .main__widget h1{
    font-size: 28px;
  }
  h3,
  h2,
  .main__widget h2{
    font-size: 20px;
  }
  .header-wrap__logo{
    text-align: center;
    display: block;
  }
  .header-wrap__holder{
    display: block;
    text-align: center;
    padding-top: 0;
  }
  .header-wrap__user-panel{
    margin-left: 0;
    overflow: hidden;
    display: block;
  }
  .header__back-btn{
    position: absolute;
    top: 20px;
    right: 0px;
  }
  .header-wrap__user-panel__wrap{
    display: block;
  }
  .header-wrap__user-panel__row{
    display: block;
    overflow: hidden;
    text-align: right;
  }
  .text-center .header-wrap__user-panel__row{
    text-align: center;
  }
  .header-wrap__user-panel__row .holder,
  .header-wrap__user-panel__row .col{
    float: none;
    display: inline-block;
    vertical-align: top;
  }
}
INPUT[type="text"] {
    color: #000000;
   }


.modal-open {
  overflow: hidden
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%)
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0)
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000
}

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
  margin-top: -2px
}

.modal-title {
  margin: 0;
  line-height: 1.42857143
}

.modal-body {
  position: relative;
  padding: 15px
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
  margin-bottom: 0;
  margin-left: 5px
}

.modal-footer .btn-group .btn+.btn {
  margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
  margin-left: 0
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll
}

@media (min-width:768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
  }
  .modal-sm {
    width: 300px
  }
}

@media (min-width:992px) {
  .modal-lg {
    width: 900px
  }
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1
}

.form-control:-ms-input-placeholder {
  color: #999
}

.form-control::-webkit-input-placeholder {
  color: #999
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1
}

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed
}

textarea.form-control {
  height: auto
}

input[type=search] {
  -webkit-appearance: none
}
.modal-body {
  position: relative;
  padding: 15px
}
h3{
  margin-top: 20px;
  margin-bottom: 10px;
}
.text-center {
  text-align: center;
}
.modal--login .modal-dialog {
  width: 370px;
  font-size: 14px;
  line-height: 20px;
}
h3 {
  font-size: 24px;
}
.h3{
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.row--num-col {
  margin-left: -5px;
  margin-right: -5px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.bootstrap-select .btn, .form-control {
  height: 50px;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 20px;
  font-weight: 500;
  border-color: #dfdfdf;
  background-color: #fff;
  border-width: 1px;
  box-shadow: none;
}
.modal-dialog a {
  color: #337ab7;
  text-decoration: none;
}