{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="page-title" class="image-bg">
        <div class="container text-center">
            <div class="title-content">
                <h1>Заказы</h1>
            </div>
        </div>
    </div>
    <div id="project-details" class="padding">
           <div class="container">
            <div class="row">
                {% for basket in baskets %}
                    <h2><a href="{% url 'order:order-detail' basket.pk %}">{{ basket }}</a>  - {{ basket.date_created }}</h2>
                {% endfor %}
            </div>
           </div>
    </div>
{% endblock %}