
<footer id="footer">
    <div class="container">
        <div class="padding">
            <div class="row">
                <div class="col-sm-4">
                    <div class="footer-widget">
                        <a class="logo" href="#"><img class="img-responsive" src="images/logo2.png" alt=""/></a>
                        <p></p>
                        <address>
                            <ul>
                                <li><span>Наш адрес:</span>г. Москва , улица беговая</li>
                                <li><span>Телефон:</span>+10 234 56 78</li>
                                <li><span>Телефон:</span><a href="#">support@arki.com</a></li>
                            </ul>
                        </address>
                        <div class="socials">
                            <ul class="list-inline social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="footer-widget">
                        <h2>Быстрые ссылки</h2>
                        <ul>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Услуги </a></li>
                            <li><a href="#">Снаряжение</a></li>
                            <li><a href="#">Вопрос-ответы</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <h2>Поддержка</h2>
                        <ul>
                            <li><a href="#">Колл-центр</a></li>
                            <li><a href="#">Donation</a></li>
                            <li><a href="#">Цены</a></li>
                            <li><a href="#">Скидки</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-widget instagram">
                        <h2>Instagram</h2>
                        <ul class="list-inline">
                            <li><a href="https://themeregion.com/demo/arki/default-images/others/s1.jpg"
                                   class="image-link"><img class="img-responsive"
                                                           src="https://themeregion.com/demo/arki/default-images/others/s1.jpg"
                                                           alt=""/></a></li>
                            <li><a href="https://themeregion.com/demo/arki/default-images/others/2.jpg"
                                   class="image-link"><img class="img-responsive"
                                                           src="https://themeregion.com/demo/arki/default-images/others/2.jpg"
                                                           alt=""/></a></li>
                            <li><a href="https://themeregion.com/demo/arki/default-images/others/3.jpg"
                                   class="image-link"><img class="img-responsive"
                                                           src="https://themeregion.com/demo/arki/default-images/others/3.jpg"
                                                           alt=""/></a></li>
                            <li><a href="https://themeregion.com/demo/arki/default-images/others/4.jpg"
                                   class="image-link"><img class="img-responsive"
                                                           src="https://themeregion.com/demo/arki/default-images/others/4.jpg"
                                                           alt=""/></a></li>
                            <li><a href="https://themeregion.com/demo/arki/default-images/others/5.jpg"
                                   class="image-link"><img class="img-responsive"
                                                           src="https://themeregion.com/demo/arki/default-images/others/5.jpg"
                                                           alt=""/></a></li>
                            <li><a href="https://themeregion.com/demo/arki/default-images/others/6.jpg"
                                   class="image-link"><img class="img-responsive"
                                                           src="https://themeregion.com/demo/arki/default-images/others/6.jpg"
                                                           alt=""/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-bottom">
        <div class="container text-center">
            <p>© Copyright 2017 <a href="#"></a>.</p>
        </div>
    </div>
</footer>
