{% load staticfiles %}
<!doctype html>
<html lang="ru">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WJXK96');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="MobileOptimized" content="320">
    <title>Прокат горных лыж в Красной Поляне, Сочи. Лыжи на прокат в Красной поляне, горнолыжное оборудование в аренду в Розе Хутор с доставкой в отель | GetSki</title>
    <!-- <base href="https://getski.vpn.kay-com.net/" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="GetSki предлагает услуги проката горных лыж в Сочи с доставкой в отели Красной Поляны! Только лучшие лыжи и ботинки, несколько размеров на выбор!
      ">
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_modal.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/new.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJXK96"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- <div id="google_translate_element"></div><script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'ru', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
  }
  </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    -->
<header id="head-scroll">
    <div class="wrapper">
        <div class="leftBlock">
            <a class="logo" href="/">
                <img src="img/white.png" style="    height: 60px;">
                <span>GetSki</span>
            </a>
            <p class="hint">Прокат горных лыж и сноубордов</p>
            <!-- <p class="hint">Прокат горных лыж и сноубордов</p>
              <a class="lang" href="/en">
                  In English

              </a> -->
        </div>
        <div class="rightBlock">
            <a class="out_coo" href="" style="display:none;"><img src="img/222.svg" style="height:29px; width:29px; color:#ffffff"></a>
            <a class="tel" id="ga_phone" href="tel:8 800 333 48 65"><span class="icon-phone"><img src="img/111.svg" style="height:40px;width:40px;color:#ffffff;display: none;"></span>8 800 333 48 65</a>
            <a href="tel:88003334865" class="chototam">
                <img src="img/111.svg" style="height:40px; width:40px; color:#ffffff">
            </a>
            <p class="hint">
                звонок по России бесплатно
            </p>
            <a href="#" class="callBtn" data-toggle="modal" data-target="#modal-callback">
                <img src="img/mobileIcon.png">
                Заказать звонок
            </a>
        </div>
    </div>
</header>
<section class="start" >
    <div class="wrapper">
        <h1 class="title">
            Горные лыжи и сноуборды в Сочи с бесплатной доставкой в отель. <br class="hidden-xs"/> 799 рублей за полный комплект.
        </h1>
        <div class="desc">
            Без шуток. Проверьте сами.
        </div>
        <div class="formWrapper">
            <form method="post" action="verification/smsverification.php" id="mainForm">
                <div class="inputsWrapper ">
                    <table class="form-table">
                        <tr>
                            <td>
                                <input type="text" name="berut" class="berut berut-new delivery datepicker-here" value="" placeholder="Доставка" readonly onclick="cal1Init();cal2Init();"/>
                            </td>
                            <td>
                                <input type="text" name="vozvrat" class="vozvrat vozvrat-new return datepicker-here" value="" placeholder="Возврат" readonly  onclick="cal1Init();cal2Init();"/>
                            </td>
                            <td id='gfysdjd121'  style='display:none;'>
                                <input type="text" name="phone" class="phone"  value="" placeholder="Телефон">
                            </td>
                        </tr>
                    </table>
                    <div class="validation"></div>
                    <p class="hint "></p>
                    <input type="hidden" name="name" class="name" value="Неизвестный">
                    <input type="hidden" name="email" class="email" value="Неизвестный">
                </div>
                <button type="submit" name="submit" id="ga_kit_selection" form="mainForm">Выбрать комплект <img src="img/chooseIcon.png"/></button>
            </form>
            <br>
            <div class="load_im">
                <img src="img/loading.gif" width="200"/>
            </div>
            return;
            1
        </div>
        <!-- <a href="#" class="howItWorksBtn " id="ga_how_it_works">
          <span class="icon-play3"></span> Как это работает?
          </a> -->
    </div>
    <a href="#" class="scrollDownBtn">
        <span class="icon-chevron-thin-down"></span>
    </a>
    <video autoplay loop muted id="myVideo">
        <source src="video/v4.mp4" type="video/mp4">
    </video>
</section>
<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
    var _tmr = window._tmr || (window._tmr = []);
    _tmr.push({id: "2827008", type: "pageView", start: (new Date()).getTime()});
    (function (d, w, id) {
        if (d.getElementById(id)) return;
        var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
        ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
        var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
        if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
    })(document, window, "topmailru-code");
</script>
<noscript>
    <div style="position:absolute;left:-10000px;">
        <img src="//top-fwz1.mail.ru/counter?id=2827008;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
    </div>
</noscript>
<!-- //Rating@Mail.ru counter -->
<section class="steps">
    <div class="wrapper">
        <h2 class="title">
            Проще некуда
        </h2>
        <div class="items">
            <div class="step">
                <a href="#head-scroll" class="scroll">
                    <div class="imgWrapper">
                        <img src="img/step1.png" alt="" />
                    </div>
                    <div class="info">
                        <div class="title">
                            1. Бронируете
                        </div>
                        <div class="desc">
                            Забронировать необходимое снаряжение можно онлайн или по телефону. Это займет не более 5 минут.
                        </div>
                    </div>
                </a>
            </div>
            <div class="step">
                <div class="imgWrapper">
                    <img src="img/step2.png" alt="" />
                </div>
                <div class="info">
                    <div class="title">
                        2. Получаете
                    </div>
                    <div class="desc">
                        Курьер доставит снаряжение, либо вы можете забрать его сами.
                    </div>
                </div>
            </div>
            <div class="step">
                <div class="imgWrapper">
                    <img src="img/step3.png" alt="" />
                </div>
                <div class="info">
                    <div class="title">
                        3. Катаетесь с удовольствием
                    </div>
                    <div class="desc">
                        В день сдачи снаряжения наш курьер заберет его из отеля.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="complects">
    <div class="wrapper">
        <h2 class="title">
            Лыжи и сноуборды на любой вкус
        </h2>
        <div class="complects-tabs my-tabs">
            <div class="complects-tabs-nav">
                <button class="complects-tabs-btn complects-ski-btn my-tabs-btn active" tab-id="complects-1">Лыжи</button>
                <button class="complects-tabs-btn complects-board-btn my-tabs-btn" tab-id="complects-2">Сноуборды</button>
            </div>
            <div class="complects-content my-tabs-content visible" id="complects-1">
                <div class="complects-list hidden-xs hidden-sm">
                    <div class="complects-item-cell">
                        <div class="complects-item reg">
                            <div class="complects-item-content-1 opacity-1">
                                <div class="cmp-bg" style="background-image: url(img/cmp_ski_rossel_s.png);"></div>
                                <div class="cmp-content">
                                    <div class="cmp-price">
                                        1 399 Р
                                    </div>
                                    <div class="cmp-name">
                                        Rossignol Hero Elite
                                    </div>
                                </div>
                            </div>
                            <div class="complects-item-content-2">
                                <div class="cmp-bg" style="background-image: url(img/cmp_ski_va_s.png);"></div>
                                <div class="cmp-content">
                                    <div class="cmp-price">
                                        1 399 Р
                                    </div>
                                    <div class="cmp-name">
                                        Volkl Alley
                                    </div>
                                </div>

                            </div>
                            <span class="cmp-label"><img src="img/cmp-label-extreme.png"/></span>
                        </div>
                    </div>
                    <div class="complects-item-cell">
                        <div class="complects-item big">
                            <div class="complects-item-content-1 opacity-1">
                                <div class="cmp-bg" style="background-image: url(img/cmp_ski_head_b.png);"></div>
                                <div class="cmp-content">
                                    <div class="cmp-price">
                                        799 Р
                                    </div>
                                    <div class="cmp-name">
                                        HEAD X-Shape MTX
                                    </div>
                                </div>
                            </div>
                            <div class="complects-item-content-2">
                                <div class="cmp-bg" style="background-image: url(img/cmp_ski_sal_b.png);"></div>
                                <div class="cmp-content">
                                    <div class="cmp-price">
                                        799 Р
                                    </div>
                                    <div class="cmp-name">
                                        Salomon X-wing
                                    </div>
                                </div>
                            </div>
                            <span class="cmp-label"><img src="img/cmp-label-comf.png"/></span>
                        </div>
                    </div>
                    <div class="complects-item-cell">
                        <div class="complects-item reg">
                            <div class="complects-item-content-1 opacity-1">
                                <div class="cmp-bg" style="background-image: url(img/cmp_ski_gs_s.png);"></div>
                                <div class="cmp-content">
                                    <div class="cmp-price">
                                        599 Р
                                    </div>
                                    <div class="cmp-name">
                                        Volkl Racetiger GS Junior (детские)
                                    </div>
                                </div>
                            </div>
                            <div class="complects-item-content-2">
                                <div class="cmp-bg" style="background-image: url(img/cmp_ski_ross_s.png);"></div>
                                <div class="cmp-content">
                                    <div class="cmp-price">
                                        599 Р
                                    </div>
                                    <div class="cmp-name">
                                        Rossignol Radical J
                                    </div>
                                </div>
                            </div>
                            <span class="cmp-label right"><img src="img/cmp-label-kids.png"/></span>
                        </div>
                    </div>
                </div>
                <div class="complects-list-slider-wrap visible-xs visible-sm">
                    <div class="complects-list-slider">
                        <div>
                            <div class="cls-item"></div>
                        </div>
                        <div>
                            <div class="cls-item">
                                <div class="complects-item reg">
                                    <div class="complects-item-content-1 opacity-1">
                                        <div class="cmp-bg" style="background-image: url(img/cmp_ski_rossel_s.png);"></div>
                                        <div class="cmp-bg" style="background-image: url(img/cmp_ski_rossel_b.png);"></div>
                                        <div class="cmp-content">
                                            <div class="cmp-price">
                                                1 399 Р
                                            </div>
                                            <div class="cmp-name">
                                                Rossignol Hero Elite
                                            </div>
                                        </div>
                                    </div>
                                    <div class="complects-item-content-2">
                                        <div class="cmp-bg" style="background-image: url(img/cmp_ski_va_s.png);"></div>
                                        <div class="cmp-bg" style="background-image: url(img/cmp_ski_va_b.png);"></div>
                                        <div class="cmp-content">
                                            <div class="cmp-price">
                                                1 399 Р
                                            </div>
                                            <div class="cmp-name">
                                                Volkl Alley
                                            </div>
                                        </div>

                                    </div>
                                    <span class="cmp-label"><img src="img/cmp-label-extreme.png"/></span>
                                    <span class="cmp-label"><img src="img/cmp-label-extreme.png"/></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="cls-item">
                                <div class="complects-item reg">
                                    <div class="complects-item-content-1 opacity-1">
                                        <div class="cmp-bg" style="background-image: url(img/cmp_ski_head_s.png);"></div>
                                        <div class="cmp-bg" style="background-image: url(img/cmp_ski_head_b.png);"></div>
                                        <div class="cmp-content">
                                            <div class="cmp-price">
                                                799 Р
                                            </div>
                                            <div class="cmp-name">
                                                HEAD X-Shape MTX
                                            </div>
                                        </div>
                                    </div>
                                    <div class="complects-item-content-2">
                                        <div class="cmp-bg" style="background-image: url(img/cmp_ski_sal_s.png);"></div>
                                        <div class="cmp-bg" style="background-image: url(img/cmp_ski_sal_b.png);"></div>
                                        <div class="cmp-content">
                                            <div class="cmp-price">
                                                799 Р
                                            </div>
                                            <div class="cmp-name">
                                                Salomon X-wing
                                            </div>
                                        </div>
                                    </div>
                                    <span class="cmp-label"><img src="img/cmp-label-comf.png"/></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="cls-item">
                                <div class="complects-item reg">
                                    <div class="complects-item-content-1 opacity-1">
                                        <div class="cmp-bg" style="background-image: url(img/cmp_ski_gs_s.png);"></div>
                                        <div class="cmp-bg" style="background-image: url(img/cmp_ski_gs_b.png);"></div>
                                        <div class="cmp-content">
                                            <div class="cmp-price">
                                                599 Р
                                            </div>
                                            <div class="cmp-name">
                                                Volkl Racetiger GS Junior (детские)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="complects-item-content-2">
                                        <div class="cmp-bg" style="background-image: url(img/cmp_ski_ross_s.png);"></div>
                                        <div class="cmp-bg" style="background-image: url(img/cmp_ski_ross_b.png);"></div>
                                        <div class="cmp-content">
                                            <div class="cmp-price">
                                                599 Р
                                            </div>
                                            <div class="cmp-name">
                                                Rossignol Radical J
                                            </div>
                                        </div>
                                    </div>
                                    <span class="cmp-label right"><img src="img/cmp-label-kids.png"/></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="cls-item"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="complects-content my-tabs-content" id="complects-2">
                <div class="complects-list hidden-xs hidden-sm">
                    <div class="complects-item-cell">
                        <div class="complects-item reg">
                            <div class="complects-item-content-1 opacity-1">
                                <div class="cmp-bg" style="background-image: url(img/cmp_board_trick_s.png);"></div>
                                <div class="cmp-content">
                                    <div class="cmp-price">
                                        799 Р
                                    </div>
                                    <div class="cmp-name">
                                        Rossignol Trick Stick
                                    </div>
                                </div>
                            </div>
                            <div class="complects-item-content-2">
                                <div class="cmp-bg" style="background-image: url(img/cmp_board_burton_s.png);"></div>
                                <div class="cmp-content">
                                    <div class="cmp-price">
                                        799 Р
                                    </div>
                                    <div class="cmp-name">
                                        Burton ltr
                                    </div>
                                </div>
                            </div>
                            <span class="cmp-label"><img src="img/cmp-label-comf.png"/></span>
                        </div>
                    </div>
                    <div class="complects-item-cell">
                        <div class="complects-item reg">
                            <div class="complects-item-content-1 opacity-1">
                                <div class="cmp-bg" style="background-image: url(img/cmp_board_amp_s.png);"></div>
                                <div class="cmp-content">
                                    <div class="cmp-price">
                                        599 Р
                                    </div>
                                    <div class="cmp-name">
                                        Rossignol Scan Amptek
                                    </div>
                                </div>
                            </div>
                            <div class="complects-item-content-2">
                                <div class="cmp-bg" style="background-image: url(img/cmp_board_scott_s.png);"></div>
                                <div class="cmp-content">
                                    <div class="cmp-price">
                                        599 Р
                                    </div>
                                    <div class="cmp-name">
                                        Scott Micro
                                    </div>
                                </div>
                            </div>
                            <span class="cmp-label right"><img src="img/cmp-label-kids.png"/></span>
                        </div>
                    </div>
                </div>
                <div class="complects-list-slider-wrap visible-xs visible-sm">
                    <div class="complects-list-slider">
                        <div>
                            <div class="cls-item"></div>
                        </div>
                        <div>
                            <div class="cls-item">
                                <div class="complects-item reg">
                                    <div class="complects-item-content-1 opacity-1">
                                        <div class="cmp-bg" style="background-image: url(img/cmp_board_trick_s.png);"></div>
                                        <div class="cmp-bg" style="background-image: url(img/cmp_board_trick_b.png);"></div>
                                        <div class="cmp-content">
                                            <div class="cmp-price">
                                                799 Р
                                            </div>
                                            <div class="cmp-name">
                                                Rossignol Trick Stick
                                            </div>
                                        </div>
                                    </div>
                                    <div class="complects-item-content-2">
                                        <div class="cmp-bg" style="background-image: url(img/cmp_board_burton_s.png);"></div>
                                        <div class="cmp-bg" style="background-image: url(img/cmp_board_burton_b.png);"></div>
                                        <div class="cmp-content">
                                            <div class="cmp-price">
                                                799 Р
                                            </div>
                                            <div class="cmp-name">
                                                Burton ltr
                                            </div>
                                        </div>
                                    </div>
                                    <span class="cmp-label"><img src="img/cmp-label-comf.png"/></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="cls-item">
                                <div class="complects-item reg">
                                    <div class="complects-item-content-1 opacity-1">
                                        <div class="cmp-bg" style="background-image: url(img/cmp_board_amp_s.png);"></div>
                                        <div class="cmp-bg" style="background-image: url(img/cmp_board_amp_b.png);"></div>
                                        <div class="cmp-content">
                                            <div class="cmp-price">
                                                599 Р
                                            </div>
                                            <div class="cmp-name">
                                                Rossignol Scan Amptek
                                            </div>
                                        </div>
                                    </div>
                                    <div class="complects-item-content-2">
                                        <div class="cmp-bg" style="background-image: url(img/cmp_board_scott_s.png);"></div>
                                        <div class="cmp-bg" style="background-image: url(img/cmp_board_scott_b.png);"></div>
                                        <div class="cmp-content">
                                            <div class="cmp-price">
                                                599 Р
                                            </div>
                                            <div class="cmp-name">
                                                Scott Micro
                                            </div>
                                        </div>
                                    </div>
                                    <span class="cmp-label right"><img src="img/cmp-label-kids.png"/></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="cls-item"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="complects-disclaimer">
            или аналогичные модели
        </div>
    </div>
</section>
<section class="conditions">
    <div class="wrapper">
        <div class="condition">
            <div class="imgWrapper">
                <img src="img/condition1.png" alt="" />
            </div>
            <div class="title">
                Честная цена
            </div>
            <div class="desc">
                799 рублей за полный комплект инвентаря: лыжи/сноуборд, ботинки и палки.
            </div>
        </div>
        <div class="condition">
            <div class="imgWrapper">
                <img src="img/condition5.png" alt="" />
            </div>
            <div class="title">
                Ботинки на выбор
            </div>
            <div class="desc">
                Мы привозим три пары ботинок разного размера на выбор, чтобы подобрать максимально комфортный вариант.
            </div>
        </div>
        <div class="condition">
            <div class="imgWrapper">
                <img src="img/blue2.png" alt="" />
            </div>
            <div class="title">
                Привозим быстро
            </div>
            <div class="desc">
                Мы доставляем снаряжение по всей долине. Вы просто указываете адрес, а мы привозим Ваш заказ в установленное время.
            </div>
        </div>
        <div class="condition">
            <div class="imgWrapper">
                <img src="img/condition6.png" alt="" />
            </div>
            <div class="title">
                Заказ инструктора онлайн
            </div>
            <div class="desc">
                Вы можете заказать услуги профессионального инструктора прямо на сайте.
            </div>
        </div>
    </div>
</section>
<section class="photo-slider-section">
    <div class="wrapper">
        <h2 class="title">
            Работаем для вас каждый день
        </h2>
        <div class="photo-slider-wrap">
            <div class="retinax3-test"></div>
            <div class="photo-slider" id="lightgallery">
                <div>
                    <a href="img/g27.jpeg" class="lg-link">
                    <div class="photo-slider-item" style="background-image: url(img/g27.jpeg)"></div>
                    </a>
                </div>
                <div>
                                        <a href="img/g26.jpg" class="lg-link">
                    <div class="photo-slider-item" style="background-image: url(img/g26.jpg)"></div>
                    </a>
                </div>
                <div>
                                        <a href="img/photos/g19.jpg" class="lg-link">
                    <div class="photo-slider-item" style="background-image: url(img/photos/gpr19.jpg)"></div>
                    </a>
                </div>
                <div>
                                                            <a href="img/photos/g15.jpg" class="lg-link">
                    <div class="photo-slider-item" style="background-image: url(img/photos/gpr15.jpg)"></div>
                    </a>
                </div>
                <div>
                                        <a href="img/photos/g6.jpg" class="lg-link">
                    <div class="photo-slider-item" style="background-image: url(img/photos/gpr6.jpg)"></div>
                    </a>
                </div>

                            </div>
        </div>
    </div>
</section>
<section class="reviews">
    <div class="wrapper">
        <h2 class="title">
            Только настоящие отзывы
        </h2>
        <div class="reviewsWrapper">
            <div class="review">
                <div class="imgWrapper">
                    <img src="img/7_review1.png" alt="">
                </div>
                <div class="info">
                    <div class="text">
                        «Здорово, что теперь и в родной Красной Поляне есть возможность пользоваться хорошим инвентарем. Теперь я ваш постоянный клиент :) »
                    </div>
                    <div class="author">
                        Анна Сорокина - Российская горнолыжница, состоит в основном составе олимпийской сборной России
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="imgWrapper">
                    <img src="img/8_review.png" alt="">
                </div>
                <div class="info">
                    <div class="text">
                        «Наши друзья открыли отличный прокат! Будете в Сочи, попробуйте Getski.me обязательно. Рекомендуем!»
                    </div>
                    <div class="author">
                        <a href="https://www.facebook.com/profile.php?id=100001696506625" target="_blank">Смольянов Игорь</a> - руководитель бойцовского клуба "Груша"
                    </div>
                </div>
            </div>
            <!--
            <div class="review">
                <div class="imgWrapper">
                    <img src="img/1review.png" alt="" />
                </div>
                <div class="info">
                    <div class="text">
                        «Превосходный сервис. Совершенно новый уровень обслуживания. Мало где встречал прокатный инвентарь такого высокого качества».
                    </div>
                    <div class="author">
                        Евгений Ганиев — аспирант из Брянска
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="imgWrapper">
                    <img src="img/review2.png" alt="" />
                </div>
                <div class="info">
                    <div class="text">
                        «Моему восторгу не было предела, когда дочурке привезли розовые лыжи! Курьер все рассказал и помог подобрать размер».
                    </div>
                    <div class="author">
                        Екатерина Филатова — домохозяйка из Липецка
                    </div>
                </div>
            </div>
            -->
            <div class="review">
                <div class="imgWrapper">
                    <img src="img/review3.png" alt="">
                </div>
                <div class="info">
                    <div class="text">
                        «Первый раз в Красной Поляне. До этого штурмовали с женой Альпы. Могу сказать, что это лучший прокат, который я встречал».
                    </div>
                    <div class="author">
                        Александр Смелов — свадебный фотограф
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="imgWrapper">
                    <img src="img/review4.png" alt="">
                </div>
                <div class="info">
                    <div class="text">
                        «Все круто! Канты острые, люди добрые, доставка шустрая. Откатался 5 дней, получил массу положительных эмоций. Спасибо :)».
                    </div>
                    <div class="author">
                        Тимур Ефремов — шеф-повар
                    </div>
                </div>
            </div>
            <div class="review hidden">
                <div class="imgWrapper">
                    <img src="img/review5.png" alt="">
                </div>
                <div class="info">
                    <div class="text">
                        «Обслуживание, качество сноуборда, доставка - это все здорово. Но то, что весь процесс заказа происходит онлайн - просто огонь! Планку задрали высоко)».
                    </div>
                    <div class="author">
                        Дмитрий Хромов - программист из Тамбова
                    </div>
                </div>
            </div>
            <div class="review hidden">
                <div class="imgWrapper">
                    <img src="img/review6.png" alt="">
                </div>
                <div class="info">
                    <div class="text">
                        «Очень классная штука — VIP сервис (и недорогая). Каждое утро нам приносили лыжи прямо к подъемнику, а после каталки — забирали и сушили! Сказка!».
                    </div>
                    <div class="author">
                        Екатерина Белоусова - предприниматель из Краснодара
                    </div>
                </div>
            </div>

        </div>
        <a href="#" class="moreBtn" id="ga_reviews">Показать больше отзывов</a>
    </div>
</section>
<section class="partners">
    <div class="wrapper">
        <h2 class="title">
            О нас пишут
        </h2>
        <div class="partners-class">
            <div style="float: left;">
                <a href="http://style.rbc.ru/guide/travel/5898976c9a79477d081b212f" target="_blank"><img src="img/partner_1.png"/></a>
            </div>
            <div>
                <a href="http://www.whrussia.ru/fitness/snoubord-dlya-nachinayushchikh-chto-kupit-i-s-chego-nachat/" target="_blank"><img src="img/partner_2.png"/></a>
            </div>

            <div>
                <a href="http://riderhelp.ru/rest/krasnaya-polyana/329/" target="_blank"><img src="img/rh.png"/></a>
            </div>
                    </div>
    </div>
</section>
<section class="cta" style="background-image: url(img/ctaBg.jpg);">
    <div class="wrapper">
        <h2 class="title">
            Зачем стоять в очередях в пунктах проката?
        </h2>
        <div class="desc">
            Мы привезем лучшее горнолыжное снаряжение прямо в отель
        </div>
        <a href="#head-scroll" class="ctaBtn scroll" id="ga_reservation">Забронировать</a>
        <div class="price">
            Всего от 699 рублей
        </div>
    </div>
</section>
<section class="map">
    <div id="map">
    </div>
        <div class="special-map">

    </div>
</section>
<div class="modal fade modal--login in setKey" id="modal-enter-code" style="margin-top: 150px;">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal"></button>
            <div class="modal-body">
                <h3>Введите код из смс</h3>
                <div class="description rows">
                    Мы отправили сообщение с кодом подтверждения на ваш номер
                    <br>
                    <span class="sendPhone">+7 123 456 78 90</span>
                    <br>
                    <a href="#" class="changenumber">Изменить номер</a>
                </div>
                <form class="form-group"  method="post" action="verification/test.php" id="smsverification">
                    <div class="row row--num-col">
                        <div class="col">
                            <label class="form-control-label">
                                <input maxlength="1" class="form-control" id="test1" type="number" max="1" data-step-id="1">
                            </label>
                        </div>
                        <div class="col">
                            <label class="form-control-label">
                                <input maxlength="1" class="form-control" id="test2" type="number" max="1" data-step-id="2">
                            </label>
                        </div>
                        <div class="col">
                            <label class="form-control-label">
                                <input maxlength="1" class="form-control" id="test3" type="number" max="1" data-step-id="3">
                            </label>
                        </div>
                        <div class="col">
                            <label class="form-control-label">
                                <input maxlength="1" class="form-control" id="test4" type="number" max="1" data-step-id="4">
                            </label>
                        </div>
                        <input type="hidden" name="secretKey" class="secretKey" id="sms_code" value="" />
                    </div>
                    <span class="errorKey" style="display:none"></span>
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="#" class="newKey" id="RealButton">Запросить код повторно 30</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal--login in cb-popup" id="modal-callback" style="margin-top: 230px;">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal"></button>
            <div class="modal-body">
                <h3>Заказать звонок</h3>
                <form>
                    <div class="callback-form">
                        <div class="cbform-item">
                            <label class="cbform-label">Имя</label>
                            <input type="text"  name="name"/>
                        </div>
                        <div class="cbform-item">
                            <label class="cbform-label">Номер телефона</label>
                            <input type="text"  name="phone" class="phone"/>
                        </div>
                        <div class="cbform-item">
                            <input type="submit" value="Заказать звонок" id="cbsubmit"/>
                            <img src="/img/load.gif" style="display: none;"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal--login in cb-thanks" id="modal-thanks" style="margin-top: 230px;">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal"></button>
            <div class="modal-body">
                <h3>Спасибо</h3>
                <div class="cb-thanks-text">
                    Мы перезвоним вам в самое ближайшее время.
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="wrapper">
        <div class="logo">
            <a href="/">
                GetSki<!--<img src="img/getski.png" alt="GetSkiцвцу">-->
            </a>
            <div class="copyright">
                © 2017.
            </div>
        </div>
        <div class="content">
            <div>
                <a href="terms.php">
                    Пользовательское соглашение
                </a>
                <a href="" data-toggle="modal" id='sk' data-target="#modal-enter-code" style="display:none">modal-enter-code</a>
                <a href="" data-toggle="modal" id='cb' data-target="#modal-callback" style="display:none">modal-callback</a>
                <!--  <a href="#">
                  Приведи друга
                  </a> -->
                <!--<a href="#">-->
                <!--    Карта сайта-->
                <!--</a>-->
                <!--<a href="# "id="ga_personal_account">-->
                <!--    Личный кабинет-->
                <!--</a>-->
                <a href="#" id="ga_partners">
                    Для партнеров
                </a>
            </div>
            <div class="text">
                <span class="foot_adr">Красная Поляна, ул. Защитников Кавказа 65 /  Время работы: ПН-ВС 8:00-23:00 </span><br> <a href="tel:88003334865">8 800 333 48 65</a> — заказ по телефону <!--/ <a href="mailto:feedback@getski.me">feedback@getski.me</a>-->
            </div>
        </div>
                <div class="snWrapper">
            <a href="https://www.facebook.com/getski.me/" target="_blanck">
                <span id="ga_facebook" class="icon-facebook"></span>
            </a>
            <a href="https://www.instagram.com/getski.me/" target="_blanck">
                <span id="ga_instagram" class="icon-instagram"></span>
            </a>
            <a href="https://vk.com/getski" target="_blanck">
                <span id="ga_vkontakte" class="icon-vk"></span>
            </a>
        </div>
    </div>
</footer>
<link href="{% static 'css/daterangepicker.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/libs/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/libs/moment-with-locales.js' %}"></script>
<!--<script src="{% static 'js/libs/jquery.daterangepicker.min.js' %}"></script>-->
<script src="{% static 'js/libs/drp.js' %}"></script>
<script src="{% static 'js/libs/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/libs/localization/messages_ru.min.js' %}"></script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/keyPopup.js' %}" type="text/javascript"></script>
<script src="{% static 'js/libs/jquery.mobile.custom.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/customFunctions.js' %}" type="text/javascript"></script>
<script src="{% static 'js/customk.js' %}" type="text/javascript"></script>
<script src="{% static 'js/calendar_on_home.js' %}" type="text/javascript"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
     (w[c] = w[c] || []).push(function() {
     try {
     w.yaCounter40361410 = new Ya.Metrika({
     id:40361410,
     clickmap:true,
     trackLinks:true,
     accurateTrackBounce:true,
     webvisor:true
     });
     } catch(e) { }
     });

     var n = d.getElementsByTagName("script")[0],
     s = d.createElement("script"),
     f = function () { n.parentNode.insertBefore(s, n); };
     s.type = "text/javascript";
     s.async = true;
     s.src = "https://mc.yandex.ru/metrika/watch.js";

     if (w.opera == "[object Opera]") {
     d.addEventListener("DOMContentLoaded", f, false);
     } else { f(); }
     })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/40361410" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->
        <!-- BEGIN K50 TRACKER CODE-->
<script>
    (function(c,a,p) {
        var s = document.createElement(a); s.src = p; s.type = "text/javascript"; s.async =!0; s.readyState ? s.onreadystatechange = function() { if ( s.readyState === "loaded" || s.readyState === "complete" ) { s.onreadystatechange = null; c();}} : s.onload = function () {c();}; var n = document.getElementsByTagName(a)[0]; n.parentNode.insertBefore(s,n); })(function(){
        k50Tracker.init({
            siteId: 46842751842377,
            callback:function(e){
                //Возвращает sid и uuid, выданные трекером
                var k50Data = k50Tracker.getResultData()
                //console.log(k50Data);
            }
        })
    },"script","https://k50-a.akamaihd.net/k50/k50tracker2.js");
</script>
<!-- END K50 TRACKER CODE-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/enscroll.js' %}"></script>
<script src="{% static 'js/jquery.main.js' %}"></script>
<script src="{% static 'js/libs/adp.js' %}"></script>
<script src="{% static 'js/getski_functions.js' %}"></script>
<link href="{% static 'css/adp.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/lightgallery.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/jquery.visible.min.js' %}"></script>
<script src="{% static 'js/my.js' %}"></script>
<script src="{% static 'js/lightgallery.min.js' %}"></script>
</body>
</html>
