{% extends 'base_main.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
    <div id="home-section">
        <div class="container">
            <div class="home-content text-center">
                <h1 id="typer">Возьмите на прокат</h1>
                <h2> Прокат на дом</h2>
                <a href="#" class="btn btn-primary btn-animated">Поехали</a>
                <div class="scroll-arrow">
                    <div class="arrow-icon">
                        <a class="animated" href="#"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/#home-section-->

    <div id="services" class="padding" style="background-color: #eaeaea;">
        <div class="container">
            <div class="text-center section-title">
					<h1>Забронируйте</h1>
				</div>
            <div class="other-features text-center">
                <div class="row">
                    <form id="pre-validate-form" method="post" action="{% url 'booking:booking-pre-validate' %}">
                    <div class="col-sm-3">
                        <input type='text' name="{{ form.take_date.html_name }}" class="form-control" id='datetimepicker1'>
                    </div>
                    <div class="col-sm-3">
                        <input type='text' name="{{ form.return_date.html_name }}" class="form-control" id='datetimepicker2'>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="{{ form.phone.html_name }}" class="form-control" placeholder="Телефон" name="phone">
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-lg btn-success">Выбрать комплект</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="services" class="padding">
        <div class="container">
            <div class="other-features text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="other-feature">
                            <img class="img-responsive" src="{% static 'img/services/1.png' %}" alt="">
                            <h3>Бронируйте</h3>
                            <p>Забронировать необходимое снаряжение можно онлайн
                                или по телефону. Это займет не более 5 минут.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="other-feature">
                            <img class="img-responsive" src="{% static 'img/services/2.png' %}" alt="">
                            <h3>Получаете</h3>
                            <p>Курьер доставит снаряжение, либо вы можете забрать его сами.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="other-feature">
                            <img class="img-responsive" src="{% static 'img/services/3.png' %}" alt="">
                            <h3> Катаетесь с удовольствием</h3>
                            <p>В день сдачи снаряжения наш курьер заберет его из отеля.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="architect" class="padding">
			<div class="container">
				<div class="text-center section-title">
					<h1>Снаряжение</h1>
				</div>

				<div class="architect-filter text-center">
                <ul class="list-inline">
                    <li><a class="active" href="#" data-filter="*">Все</a></li>
                    {% for c in categories %}
                    <li><a href="#" data-filter=".{{ c.slug }}">{{ c }}</a></li>
                    {% endfor %}
                </ul
				</div>

				<div id="all-architect">
					<div class="row">
                    {% for p in products %}

                    	<div class="col-sm-4 architect {{ p.category.slug }}">
							<div class="architect-image">
								<a href="https://themeregion.com/demo/arki/default-images/project/a1.jpg" class="image-link">
                                    {% thumbnail p.img '400x300' crop="center" as img %}
                                    <img class="img-responsive" src="{{ img.url }}" alt="" /></a>
                                    {% endthumbnail %}
							</div>
							<div class="architect-info" style="border:1px solid #000;">
								<h3><a href="{% url 'catalog:product-detail' p.pk %}">{{ p }}</a></h3>
								<h4>{{ p.category }}</h4>
								<div class="socials">
									<ul class="list-inline social-icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
                    {% endfor %}
					</div>
				</div>
			</div>
		</div>

    <div id="twitter" class="padding">
        <div class="overlay-bg"></div>
        <div class="container text-center">
            <div class="twitter-icon">
                <i class="fa fa-twitter"></i>
            </div>
            <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#twitter-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#twitter-carousel" data-slide-to="1"></li>
                    <li data-target="#twitter-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <p>Amis de Bruxelles, de Woluwé, de Namur, de partout... pour les fêtes de fin d'année, nous ne
                            pouvons que vous...</p>
                        <a href="#">https://t.co/7FoVSP0vIf</a>
                    </div>
                    <div class="item">
                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum
                            est notare quam ...</p>
                        <a href="#">https://t.co/7FoVSP0vIf</a>
                    </div>
                    <div class="item">
                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                            Investigationes...</p>
                        <a href="#">https://t.co/7FoVSP0vIf</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/twitter-->

    <div id="clients" class="padding">
        <div class="container">
            <div class="row">
                <div class="text-center section-title">
                    <h1>Нам доверяют</h1>
                    <h2>Наши счастливые клиенты</h2>
                </div>
            </div>
            <div class="clients text-center">
                <ul class="list-inline">
                    <li><a href="#"><img class="img-responsive"
                                         src="https://themeregion.com/demo/arki/default-images/others/client1.png"
                                         alt=""/></a></li>
                    <li><a href="#"><img class="img-responsive"
                                         src="https://themeregion.com/demo/arki/default-images/others/client2.png"
                                         alt=""/></a></li>
                    <li><a href="#"><img class="img-responsive"
                                         src="https://themeregion.com/demo/arki/default-images/others/client3.png"
                                         alt=""/></a></li>
                    <li><a href="#"><img class="img-responsive"
                                         src="https://themeregion.com/demo/arki/default-images/others/client4.png"
                                         alt=""/></a></li>
                </ul>
            </div>
        </div>
    </div><!--/Clients-->

    <div id="promotion" class="padding">
        <div class="container text-center">
            <h1>Зачем стоять в очередях в пунктах проката?</h1>
            <a class="btn btn-primary btn-animated" href="#">Забронировать</a>
        </div>
    </div><!--/Promotion-->

{% endblock %}

{% block js_block %}
    <script type="text/javascript">
    $(function(){
        $("#pre-validate-form").on("submit", function(e){
            e.preventDefault();
            $.ajax({
                url: '/booking/pre-validate/',
                type: 'POST',
                beforeSend: function (jqXHR, settings) {
                    var csrfToken = $('meta[name="csrf-token"]').attr('content');
                    jqXHR.setRequestHeader("x-csrftoken", csrfToken);
                },
                dataType: 'json',
                data: $("#pre-validate-form").serialize(),
            }).done(function(data){
                location.href = '/booking/'
                console.log(data);
            }).fail(function (e, data) {
                alert(data);
                console.log(e);
                console.log(data);
            });;
        });
    });
    </script>
{% endblock %}
