{% extends 'base_main.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
    <!--
    <div id="home-section">
        <div class="container">
            <div class="home-content text-center">
                <h1 id="typer">Возьмите на прокат</h1>
                <h2> Прокат на дом</h2>
                <a href="#" class="btn btn-primary btn-animated">Поехали</a>
                <div class="scroll-arrow">
                    <div class="arrow-icon">
                        <a class="animated" href="#"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/#home-section-->
    -->
    <div id="home-section-slider" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="item item-one active" style="background-image:url({% static 'img/getbike/slide1.jpg' %})">
				<div class="container">
					<div class="home-content text-center">
						<h1 id="typer">Реализуйте ваши мечты</h1>
						<h2>Дайте два</h2>
						<a href="#" class="btn btn-primary btn-animated">Поехали</a>
						<div class="scroll-arrow">
							<div class="arrow-icon">
								<a class="animated" href="#"><i class="fa fa-angle-down"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item item-two" style="background-image:url({% static 'img/getbike/slide2.jpg' %})">
				<div class="container">
					<div class="home-content">
						<h1>Хотите вдохнуть новые эмоции ?</h1>
						<h2>SUP</h2>
						<a href="#" class="btn btn-primary btn-animated">Попробуйте</a>
					</div>
				</div>
			</div>
			<div class="item item-three" style="background-image:url({% static 'img/getbike/slide3.jpg' %})">
				<div class="container">
					<div class="section-content">
						<div class="row">
							<div class="col-md-8 col-sm-6">
								<div class="home-content">
									<h1>Делитесь впечатлениями</h1>
									<h2></h2>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-left" href="#home-section-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
		<a class="carousel-right" href="#home-section-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
	</div><!--/#home-section-->

    <div id="services" class="padding" style="background-color: #eaeaea;">
        <div class="container">
            <div class="text-center section-title">
                <h1>Забронируйте</h1>
            </div>
            <div class="other-features text-center">
                <div class="row">
                    <form id="pre-validate-form" method="post" action="{% url 'booking:booking-pre-validate' %}">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="">Доставка</label>
                                <input type='text' name="{{ form.take_date.html_name }}" class="form-control"
                                   id='datetimepicker1'>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="">Возврат</label>
                            <input type='text' name="{{ form.return_date.html_name }}" class="form-control"
                                   id='datetimepicker2'>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="">Телефон</label>
                            <input type="text" name="{{ form.phone.html_name }}" class="form-control"
                                   placeholder="Телефон" name="phone">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button style="margin-top: 25px;" type="submit" class="btn btn-lg btn-success">Выбрать комплект</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="services" class="padding">
        <div class="container">
            <div class="other-features text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="other-feature">
                            <i style="font-size:32px;" class="fa fa-hand-pointer-o main-icon-take"></i>

                            <h3>Бронируйте</h3>
                            <p>Забронировать необходимое снаряжение можно онлайн
                                или по телефону. Это займет не более 5 минут.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="other-feature">

                            <i style="font-size:32px;" class="fa fa-truck main-icon-take"></i>

                            <h3>Получаете</h3>
                            <p>Курьер доставит снаряжение, либо вы можете забрать его сами.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="other-feature">
                            <i style="font-size:32px;" class="fa fa-bicycle main-icon-take"></i>
                            <h3> Катаетесь с удовольствием</h3>
                            <p>В день сдачи снаряжения наш курьер заберет его из отеля.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="architect" class="padding">
        <div class="container">
            <div class="text-center section-title">
                <h1>Снаряжение</h1>
            </div>

            <div class="architect-filter text-center">
                <ul class="list-inline">
                    <li><a class="active" href="#" data-filter="*">Все</a></li>
                    {% for c in categories %}
                        <li><a href="#" data-filter=".{{ c.slug }}">{{ c }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div id="all-architect">
                    <div class="row">
                    {% for p in products %}
                        <div class="col-sm-4 architect {{ p.category.slug }}" style="margin-top: 20px;">
                            <div class="architect-image">
                                <a href="{{ p.img.url }}" class="image-link">
                                    {% thumbnail p.img '400x300' crop="center" as img %}
                                        <img class="img-responsive" src="{{ img.url }}" alt=""/></a>
                                    {% endthumbnail %}
                            </div>
                            <div class="architect-info">
                                <h3><a href="{% url 'catalog:product-detail' p.pk %}">{{ p }}</a></h3>
                                <h4>{{ p.category }}</h4>
                                <div class="socials">
                                    <ul class="list-inline social-icons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>

        </div>
        </div></div>

    <div id="twitter" class="padding">
        <div class="overlay-bg"></div>
        <div class="container text-center">
            <div class="twitter-icon">
                <i class="fa fa-twitter"></i>
            </div>
            <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#twitter-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#twitter-carousel" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <p>Заказал снаряжение через сайт.Привезли через час.</p>
                        <a href="#">https://t.co/7FoVSP0vIf</a>
                    </div>
                    <div class="item">
                        <p>Супер эмоции</p>
                        <a href="#">https://t.co/7FoVSP0vIf</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/twitter-->

    <div id="clients" class="padding">
        <div class="container">
            <div class="row">
                <div class="text-center section-title">
                    <h1>Нам доверяют</h1>
                    <h2>Наши счастливые клиенты</h2>
                </div>
            </div>
            <div class="clients text-center">
                <ul class="list-inline">
                    {% for hc in happy_clients %}
                    <li>
                        <a href="#"><img class="img-responsive" src="{{ hc.img.url }}" alt=""/></a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div><!--/Clients-->

    <div id="promotion" class="padding">
        <div class="container text-center">
            <h1>Зачем стоять в очередях в пунктах проката?</h1>
            <a class="btn btn-primary btn-animated" href="#">Забронировать</a>
        </div>
    </div><!--/Promotion-->

{% endblock %}

{% block js_block %}
    <script type="text/javascript">
        $(function () {
            $('form input[name=phone]').mask('+7(999)999-99-99');
            $("#pre-validate-form").validate({
                rules: {
                    take_date: {required: true},
                    return_date: {required: true},
                    phone: {required: true}
                },
                submitHandler: function (form) {

                    $.ajax({
                        url: '/booking/pre-validate/',
                        type: 'POST',
                        beforeSend: function (jqXHR, settings) {
                            var csrfToken = $('meta[name="csrf-token"]').attr('content');
                            jqXHR.setRequestHeader("x-csrftoken", csrfToken);
                        },
                        dataType: 'json',
                        data: $("#pre-validate-form").serialize(),
                    }).done(function (data) {
                        location.href = '/booking/'
                        console.log(data);
                    }).fail(function (e, data) {
                        alert(data);
                        console.log(e);
                        console.log(data);
                    });
                }
            });

        });
    </script>
{% endblock %}
