{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
    <div id="page-title" class="image-bg">
        <div class="container text-center">
            <div class="title-content">
                <h1>{{ object }}</h1>
                <p>{{ object.description|default_if_none:''|safe }}</p>
            </div>
        </div>
    </div>
    <div id="project-details" class="padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div id="project-carousel" class="carousel carousel-fade slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive"
                                     src="{{ object.img.url }}" alt="">
                            </div>
                            {% for curr_img in object.images.all %}
                            <div class="item">
                                <img class="img-responsive"
                                     src="{{ curr_img.img.url }}" alt="">
                            </div>
                            {% endfor %}

                        </div>
                        <ol class="project-indicators">
                            <li data-target="#project-carousel" data-slide-to="0" class="active">
                                {% thumbnail object.img '400x300' crop="center" as img %}
                                <img class="img-responsive"
                                     src="{{ img.url }}" alt="">
                                {% endthumbnail %}
                            </li>
                            {% for curr_img in object.images.all %}
                            <li data-target="#project-carousel" data-slide-to="{{ forloop.counter }}">
                                {% thumbnail curr_img.img '400x300' crop="center" as img %}
                                <img class="img-responsive"
                                     src="{{ img.url }}" alt="">
                                {% endthumbnail %}
                            </li>
                            {% endfor %}

                        </ol>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="project-info">
                        <h2>{{ object }}</h2>
                        <p>{{ object.description|default_if_none:''|safe }}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
